<!DOCTYPE html>
<html lang="en" data-theme="{{ theme }}">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/style/main.css" />
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
    <script>
        MathJax = {
            tex: {
                inlineMath: [['$', '$'], ['\\(', '\\)']],
                displayMath: [['$$', '$$'], ['\\[', '\\]']],
                processEscapes: true
            }
        };
    </script>
    <script type="text/javascript" id="MathJax-script" async
        src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
        </script>
    <script type="module">
        import init from "/dist/documentation.js";
        init();
    </script>
</head>

<body>
    <div class="topbar">
        <div class="left">
            <a href="/" class="site-title">Sawy's Notes</a>
        </div>
        <div class="center" id="topbar-center">
            {{ page_title }}
        </div>
        <div class="right">
            <button class="theme-toggle" title="Switch Theme">
                🌗
            </button>
        </div>
    </div>

    <div id="app">
        {{ sidebar|safe }}

        <main class="content">
            <div id="page-content">
                {{ content|safe }}
            </div>
        </main>
    </div>
</body>

</html>